<div class="row container">
    <!-- Page Layout here -->
<div class="col s12">
    <div class="row">
      <div class="col s3" >
          <h5 class="center-align blue-text text-blue lighten-2">Events</h5>
            <div class="collection">
                <a href="/{{user.role}}/event" class="collection-item grey-text">Crear eventos</a>
                <a href="#!" class="collection-item grey-text">Eventos</a>
            </div>
            <h5 class="center-align blue-text text-blue lighten-2">Adds</h5>
            <div class="collection">
                <a href="#!" class="collection-item grey-text">Find books</a>
                <a href="#!" class="collection-item grey-text">Find who helps</a>
            </div>
              <nav>
                <div class="nav-wrapper">
                <form>
                    <div class="input-field  blue lighten-2">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                    </div>
                </form>
                </div>
            </nav>
      </div>
    
      <div class="col s9">

            {{#each post}}
        <div>
            <div class="card horizontal hoverable">
            <div class="card-image">
                <img src="../images/Staff hombre.png"> <!-- imagen de perfil de usuario -->
            </div>




  
            <div class="card-stacked">
                <div class="card-content">
                 <h5 class="header blue-text text-blue lighten-2">{{this.authorName}} {{this.authorlastName}}</h5>
                 <h5 class="grey-text">{{this.content}}</h5>
                 </div>
                    <!-- Modal comentar -->
                    <a class="waves-effect  blue lighten-2 btn modal-trigger" href="#modal1">Comment</a>

                    <!-- Modal Structure -->
                    
                    <div id="modal1" class="modal">
                     <form action="/{{../user.role}}/comment" method="POST" enctype="multipart/form-data">

                        <div class="modal-content">
                          <h4>Comment</h4>



                            <input name="content" placeholder="Placeholder" id="first_name" type="text" class="validate">

                            <label for="first_name">your comment</label>
                         </div>
                            <div class="modal-footer">

                                          <button class="modal-close waves-effect blue lighten-2 btn-flat" type="submit">
                                             <a  >Comment</a>
                                            </button>

                                    <a  class="modal-close waves-effect  blue lighten-2 btn-flat">Cancel</a>
                                  </div>
                     </form>
                       </div> 

                   
                     
                        <a type='submit' href="/{{../user.role}}/comments/{{this.id}}"  class="waves-effect  blue lighten-2 btn modal-trigger">See comments</a>
                    </form>
            </div>
        </div>
      </div>
              {{/each}}

    </div>
</div>
</div>
</div>