<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="icon" type="image/png" href="../images/favicon.ico" sizes="64x64">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
{{#if isNo}}
   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img class="responsive-img" id="logo" src="../images/logo menu.png"/></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/">About us</a></li>
        <li><a href="login"> Log In</a></li>
      </ul>
    </div>
  </nav>

  {{!-- este es el nav responsive --}}

  <ul class="sidenav right" id="mobile-demo">
    <li><a href="/">Home</a></li>
        <li><a href="/">About us</a></li>
        <li><a href="login"> Log In</a></li>
  </ul>
{{/if}}

{{#if isMortal}}
   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img class="responsive-img" id="logo" src="../images/logo menu.png"/></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/{{user.role}}/feeds">Feeds</a></li>
        <li><a href="/{{user.role}}/profile"><i class="material-icons right">person</i></a></li>
        <li><a href="/"><span class="new badge blue lighten-2">4</span><i class="material-icons right">notifications_active</i></a></li>
        <li><a href="/logout"> Log Out</a></li>
      </ul>
    </div>
  </nav>

  {{!-- este es el nav responsive --}}

  <ul class="sidenav right" id="mobile-demo">
    <li><a href="/{{user.role}}/feeds">Feeds</a></li>
        <li><a href="/{{user.role}}/profile"><i class="material-icons right">person</i></a></li>
        <li><a href="/"><span class="new badge blue lighten-2">4</span><i class="material-icons right">notifications_active</i></a></li>
        <li><a href="/logout"> Log Out</a></li>
  </ul>
{{/if}}

{{#if isTeacher}}
   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img class="responsive-img" id="logo" src="../images/logo menu.png"/></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/{{user.role}}/feeds">Feeds</a></li>
        <li><a href="/{{user.role}}/profile"><i class="material-icons right">person</i></a></li>
        <li><a href="/"><span class="new badge blue lighten-2">4</span><i class="material-icons right">notifications_active</i></a></li>
        <li><a href="/logout"> Log Out</a></li>
      </ul>
    </div>
  </nav>

  {{!-- este es el nav responsive --}}

  <ul class="sidenav right" id="mobile-demo">
    <li><a href="/{{user.role}}/feeds">Feeds</a></li>
        <li><a href="/{{user.role}}/profile"><i class="material-icons right">person</i></a></li>
        <li><a href="/"><span class="new badge blue lighten-2">4</span><i class="material-icons right">notifications_active</i></a></li>
        <li><a href="/logout"> Log Out</a></li>
  </ul>
{{/if}}

{{#if isGod}}
   <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo left"><img class="responsive-img" id="logo" src="../images/logo menu.png"/></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/{{user.role}}/feeds">Feeds</a></li>
        <li><a href="/{{user.role}}/profile"><i class="material-icons right">person</i></a></li>
        <li><a href="/"><span class="new badge blue lighten-2">4</span><i class="material-icons right">notifications_active</i></a></li>
        <li><a href="/">Add Student</a></li>
        <li><a href="/logout"> Log Out</a></li>
      </ul>
    </div>
  </nav>

  {{!-- este es el nav responsive --}}

  <ul class="sidenav right" id="mobile-demo">
        <li><a href="/{{user.role}}/feeds">Feeds</a></li>
        <li><a href="/{{user.role}}/profile"><i class="material-icons right">person</i></a></li>
        <li><a href="/">Agregar Usuarios</a></li>
        <li><a href="/"><span class="new badge blue lighten-2">4</span></a><i class="material-icons right">notifications_active</i></li>
        <li><a href="/"> Add student</a></li>
        <li><a href="/logout"> Log Out</a></li>
  </ul>
{{/if}}
  
  

 {{{body}}}


  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script src="/javascripts/script.js"></script>
  <script>

     $(document).ready(function(){
    $('.sidenav').sidenav();
  });
    
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems);
  });

  $(document).ready(function(){
    $('select').formSelect();
  });

   $(document).ready(function(){
    $('.modal').modal();
  });
  
   $('.dropdown-trigger').dropdown();



   $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });

    $(document).ready(function(){
        $('.sidenav').sidenav();
      });
  </script>
</body>

<footer class="page-footer grey lighten-5 center-align">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/"><h5>About Ironhack</h5></a></li>
      </div>
      <div class="col s12">
          <ul>
            <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/es/cursos/web-development-bootcamp">Web Development full time</a></li>
            <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/es/cursos/web-development-part-time">web Development part time</a></li>
            <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/es/cursos/curso-ux-ui-design">UX/UI full time</a></li>
            <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/es/cursos/ux-ui-design-part-time">UX/UI part time</a></li>
            <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/es/cursos/data-analytics-bootcamp">Data Analytics full time</a></li>
            <li><a class="grey-text text-blue-grey lighten-3" href="https://www.ironhack.com/es/cursos/data-analytics-part-time">Data Analytics part time</a></li>
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container grey-text text-blue-grey lighten-3">
       © 2019 Ironhackers Itza Blanco and Ricardo Salas
    </div>
  </div>
</footer>
            